<h2><%= "Edit this Discount:" %></h2><br>
 
 <%= form_with url: merchant_bulk_discount_path(@merchant.id, @bulk_discount.id), method: :patch, local: true do |f| %>

  <%= f.label :percent_off %>
  <%= f.number_field :percent_off, value: @bulk_discount.percent_off %>

  <%= f.label :threshold %>
  <%= f.number_field :threshold, value: @bulk_discount.threshold %>

  <%= f.submit value: "Submit" %>

  <% end %>
